div {
  font-size: 40px;
  font-weight: bolder;
  width: 50px;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 2px solid #390c53;
  padding-bottom: 10px;
  width: 85%;
  margin-left: 15px;
}

.uppercase {
  text-transform: uppercase;
}

/* .description {
  text-size-adjust: small;
} */

h3 {
  font-size: 13px;
  font-weight: 150;
}

body {
  display: grid;
  grid-template-columns: 10% 90%;
}

main {
  color: #390c53;
  width: 350px;
  background-color: white;
  padding-left: 10px;
}

/* This is where you will be adding some margins and padding */
aside {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-size: medium;
  font-weight: lighter;
  padding-bottom: 0%;
}
.dates {
  text-transform: uppercase;
  font-size: smaller;
}

ul {
  font-size: 13px;
}

p {
  font-size: 13px;
}

.title {
  color: #390c53;
  border-bottom: 0px;
  text-align: center;
}

aside {
  background-color: #390c53;
  color: white;
}

.corner {
  background-color: white;
}

img {
  width: 75%;
  border: 5px solid gray;
  padding: 2px;
  border-radius: 20%;
  margin-left: 15px;
}

.contact {
  text-align: center;

}

.contact-info {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 2px solid #390c53;
  padding-bottom: 0px;
  width: 85%;
  text-align: center;
  margin-left: 15px;
  padding-top: 50px; 
}

.solid {
  width: 40%;
}

.contactchildren {
padding-bo;
}
